* {
  margin: 0;
  padding: 0;

}

body {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #050748 !important;
  height: auto;
}



header {
  width: 100%;
  height: auto;
  background-image: url("../images/firstbg1.png");
  background-size: cover;
  /* Adjust fit as needed */
  background-position: center;
  padding: 15px 30px;
  z-index: -50;

}

.navbar {
  background: transparent;
}

.navbar li {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  margin-left: 20px;
}


.callbt {
  width: 50px;
  height: 50px;
  background: linear-gradient(90deg, #ff00a2 0%, #9d34d5 80%);
  border-radius: 50px;
  text-align: center;
  padding-top: 10px;
  margin-left: 25px;
  box-shadow: 0 10px 15px 0 rgba(56, 0, 189, .2);
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);

}

.callbt:hover {
  scale: 1.15;
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);

}

.reqbtn a {
  width: 180px;
  height: 50px;
  background: linear-gradient(90deg, #782d96 0%, #4862D1 35%, #1d76c9 100%);
  border-radius: 50px;
  text-align: center;
  padding-top: 10px;
  margin-top: 3px;
  margin-left: 10px;
  display: inline-block;
  box-shadow: 0 10px 15px 0 rgba(56, 0, 189, .2);
  /* Transition for background color */
  transition: background-color 0.5s ease-in-out;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
  z-index: 1;
}

.reqbtn a::after {
  content: '';
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.281);
  display: block;
  position: absolute;
  border-radius: 50%;
  top: -10%;
  right: -130px;
  z-index: 10;
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);


}


.reqbtn a:hover::after {
  right: -80px;


}


/* .reqbtn:hover {
    background: linear-gradient(90deg, #31285d 0%, #3939ac 25%, #1d76c9 54%);
  } */

.daynight {
  height: 25px;
  width: 25px;
  background-color: #ffc400;
  border: 3px solid white;
  border-radius: 20px;
  text-align: center;
  padding: 0;
  margin-left: 10px;
  box-shadow: 0 10px 15px 0 rgba(56, 0, 189, .2);
}

.bi-brightness-high {
  margin-top: -9px;
}





header .container {
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 20px 70px;

}




.contents-1 {


  padding: 50px 0px 50px 20px;
  margin: 0;


}


.col-lg-6 {

  padding: 0;
}

header .container h1 {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 30px;

}

header .container p {
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 35px;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}


.viewcbt a {
  width: 220px;
  height: 50px;
  background: linear-gradient(90deg, #FFB585 0%, #FF6A89 35%, #FF3B8C 100%);
  border-radius: 50px;
  text-align: center;
  padding-top: 10px;
  margin-left: 10px;
  display: inline-block;
  box-shadow: 0 10px 15px 0 rgba(56, 0, 189, .2);
  /* Transition for background color */
  transition: background-color 0.5s ease-in-out;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
  z-index: 1;
}

.viewcbt a::after {
  content: '';
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.281);
  display: block;
  position: absolute;
  border-radius: 50%;
  top: -10%;
  right: -130px;
  z-index: 10;
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);


}


.viewcbt a:hover::after {
  right: -80px;


}



.about-agency-section {
  width: 100%;
  height: auto;
  padding: 80px 0;
}

.about-agency-section .col-lg-6 .left img {
  margin: 50px 0px;

}


.founder-info {
  display: flex;

}

.about-agency-section .col-lg-6 .founder-info img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.about-agency-section .right span {
  color: #e60072;
  font-size: 16px;
  margin: 0 0 15px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.about-agency-section .right h2 {

  margin: 0 0 15px;
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
}

.about-agency-section .right p {
  font-size: 17px;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
  color: #6a6a8e;
  font-weight: 400;
  font-style: normal;
}


.quote {
  font-weight: 500;
  padding: 25px;
  position: relative;
  border-left: 4px solid #ff358f;
  margin: 30px 0;
  background: #FAFAFB;
  color: #6a6a8e;
  font-family: Poppins, sans-serif;
}

.quote p {
  font-size: 17px;
  line-height: 28px;
}

.founder-info {
  justify-items: center;

}

.info-text {
  margin: 10px 0 0 20px;
  text-align: left;
  padding: 0;

}

.info-text h5 {
  font-size: 20px;
  line-height: 30px;
  font-family: Poppins, sans-serif;
  color: #050748;
  font-weight: 600;
  margin: 0;
}

.info-text p {
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  color: #6a6a8e;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section3 {
  width: 100%;
  height: auto;
  background-image: url("../images/section3.png");
  background-size: cover;
  /* Adjust fit as needed */
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: -50;

  text-align: center;

}

.section3 .spn {
  color: #e60072;
  font-size: 16px;
  margin: 0 0 15px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section3 h2 {
  font-size: 40px;
  line-height: 52px;
  font-family: Poppins, sans-serif;
  color: #050748;
  font-weight: 600;
  margin-bottom: 30px;

}

.section3 .row {
  margin: 30px 12px;

}

.section3 .card {
  text-align: center;
  align-items: center;
  background-image: url("../images/section3card.png");
  background-size: cover;
  /* Adjust fit as needed */
  background-position: center;
  text-align: center;
  padding: 50px 20px;
  margin: 10px auto;
  border: 1px solid #d4f0ff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 3.4px 2.7px -30px rgba(0, 0, 0, .059), 0 8.2px 8.9px -30px rgba(0, 0, 0, .071), 0 25px 40px -30px rgba(0, 0, 0, .2);
}

.section3 .card .img-fluid {
  width: 80px;
  max-width: 100%;
  margin-bottom: 20px;
  height: auto;
}


.section3 .card p {
  font-size: 17px;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
  color: #6a6a8e;
  font-weight: 400;
  font-style: normal;
}

.section3 .card h4 {
  font-size: 22px;
  line-height: 32px;
  font-family: Poppins, sans-serif;
  color: #050748;
  font-weight: 600;
  margin-bottom: 10px;
}

.section3 .card a {
  font-family: Poppins, sans-serif;
  display: inline-block;
  padding: 3px 0;
  color: #6a6a8e;
  text-decoration: none;
}

.section3 .footer-s3 {
  margin: 0px auto;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px;


}

.section3 .footer-s3 .text {
  flex-basis: 60%;
  text-align: end;

}

.section3 .footer-s3 .btn {
  flex-basis: 40%;
  text-align: start;

}

.section3 .footer-s3 p {
  display: inline-block;
  font-size: 30px;
  color: #050748;
  margin: 0 30px 0 0;
  line-height: 28px;

}

.section3 .footer-s3 span {
  font-family: 'Open Sans', sans-serif;
  color: #050748;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  font-size: 30px;
}


.section3 .footer-s3 a {

  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  padding: 0 32px;
  line-height: 56px;
  outline: 0;
  border: none;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  position: relative;
  background: linear-gradient(90deg, #ff1f8e 0%, #D62CAF 35%, #C42CC2 100%);




  box-shadow: 0 10px 15px 0 rgba(56, 0, 189, .2);
  /* Transition for background color */
  transition: background-color 0.5s ease-in-out;
  overflow: hidden;
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);
  text-decoration: none;
  color: white;
  z-index: 1;
}

.section3 .footer-s3 a::after {
  content: '';
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.281);
  display: block;
  position: absolute;
  border-radius: 50%;
  top: -10%;
  right: -130px;
  z-index: 10;
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);


}


.section3 .footer-s3 a:hover::after {
  right: -80px;


}

.section4 {
  width: 100%;
  height: auto;
  background-image: url("../images/section4bg.png");
  background-size: cover;
  /* Adjust fit as needed */
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;

}

.section4 .portion {
  display: flex;
}

.section4 .icon {
  background-color: white;
  padding: 15px;
  width: fit-content;
  border-radius: 8px 40px;
  align-items: center;
  text-align: center;

}

.section4 .upperpart .img-fluid {
  width: 71px;
  height: 71px;
  margin: 5px;
}

.section4 .text {
  text-align: left;
  margin-left: 20px;

}

.section4 .upperpart .text span {
  font-size: 45px;
  font-family: Poppins, sans-serif;
  color: #050748;
  font-weight: 700;
  display: inline-block;
}


.section4 .upperpart .text p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #6a6a8e;

  font-weight: 500;
}

.section4 .row {
  justify-content: center;
}

.section4 .row .col-lg-6 {
  width: max-content;
  padding-right: 70px;
  margin: 10px;
}

.section4 .lowerpart .text span {
  font-size: 35px;
  font-family: Poppins, sans-serif;
  color: #050748;
  font-weight: 700;
  display: inline-block;
}

.section4 .lowerpart {
  margin: 70px 50px;
}

.section4 .lowerpart .text p {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  color: #6a6a8e;

  font-weight: 500;
}

.section4 .lowerpart .img-fluid {
  width: 46px;
  height: 46px;

}


.section5 {
  width: 100%;
  height: auto;
  background-image: url("../images/sec5bg.png");
  background-size: cover;
  /* Adjust fit as needed */
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: start;

}

.section5 .spn {
  color: #e60072;
  font-size: 16px;
  margin: 0 0 15px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;

}

.section5 h2 {
  font-size: 40px;
  line-height: 52px;
  font-family: Poppins, sans-serif;
  color: #050748;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;


}

.section5 .row {
  margin-top: 30px;

}

.section5 .row .col-lg-8 {
  overflow: hidden;

}

.section5 .row img {
  width: 100%;
  height: 80%;
  border-radius: 8px;
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);
  padding: 0;


}

.section5 .row .img-fluid:hover {
  transform: scale(1.05);
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);

}

.section5 .row h4 {
  font-size: 22px;
  line-height: 32px;
  color: #050748;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  padding-top: 20px;

}

.section5 .row p {
  font-family: 'Open Sans', sans-serif;
  color: #6a6a8e;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  font-size: 17px;
}





.section6 {
  width: 100%;
  height: auto;
  background-image: url("../images/sec6bg.png");
  background-size: cover;
  /* Adjust fit as needed */
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: start;

}

.section6 .spn {
  color: #e60072;
  font-size: 16px;
  margin: 0 0 15px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;

}

.section6 h2 {
  font-size: 40px;
  line-height: 52px;
  font-family: Poppins, sans-serif;
  color: #050748;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;


}

.section6 .row {
  margin-top: 50px;
  justify-content: center;
  text-align: center;

}

.section6 .row img {
  margin-top: 20px;
  background: #FFFFFF;
  box-shadow: -20px 20px 40px #ece0f2, 20px -20px 40px #fff8ff;
}


.footer-s3 {
  margin: 0px auto;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px;


}

.footer-s3 .text {
  flex-basis: 60%;
  text-align: end;

}

.footer-s3 .btn {
  flex-basis: 40%;
  text-align: start;

}

.footer-s3 p {
  display: inline-block;
  font-size: 30px;
  color: #050748;
  margin: 0 30px 0 0;
  line-height: 28px;

}

.footer-s3 span {
  font-family: 'Open Sans', sans-serif;
  color: #050748;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  font-size: 30px;
}


.footer-s3 a {

  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  padding: 0 32px;
  line-height: 56px;
  outline: 0;
  border: none;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  position: relative;
  background: linear-gradient(90deg, #ff1f8e 0%, #D62CAF 35%, #C42CC2 100%);




  box-shadow: 0 10px 15px 0 rgba(56, 0, 189, .2);
  /* Transition for background color */
  transition: background-color 0.5s ease-in-out;
  overflow: hidden;
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);
  text-decoration: none;
  color: white;
  z-index: 1;
}

.footer-s3 a::after {
  content: '';
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.281);
  display: block;
  position: absolute;
  border-radius: 50%;
  top: -10%;
  right: -130px;
  z-index: 10;
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);


}


.footer-s3 a:hover::after {
  right: -80px;


}


.section6 .footer-s3 {
  margin-top: 60px;
}


.section7 {
  width: 100%;
  height: auto;
  background-image: url("../images/sec7bg.png");
  background-size: cover;
  /* Adjust fit as needed */
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: start;

}

.section7 .container .row .col-lg-4 {
  align-items: center;
  justify-items: center;
  margin-top: 100px;
  padding: 30px 20px;
}




.section7 .container .row .work-card {

  margin: 10px 0;
  padding: 30px 20px;
  max-height: 170px;
  max-width: 190px;
  text-align: center;
  min-height: 170px;
  border-radius: 8px 40px;
  box-shadow: 0 3.4px 2.7px -30px rgba(0, 0, 0, .059), 0 8.2px 8.9px -30px rgba(0, 0, 0, .071), 0 25px 40px -30px rgba(0, 0, 0, .2);
}

.work-card p {
  font-family: Poppins, sans-serif;
  line-height: 24px;
  font-size: 16px;
  margin: 5px 0 0;
  padding: 0 12px;
}


.section7 .spn {
  color: #e60072;
  font-size: 16px;
  margin: 0 0 15px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: start;

}

.section7 h2 {
  font-size: 40px;
  line-height: 52px;
  font-family: Poppins, sans-serif;
  color: #050748;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: start;


}

.section7 p {
  font-size: 17px;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
  color: #6a6a8e;
  font-weight: 400;

}










.cd1 {
  background: #70e4e8;
}

.cd2 {
  background: #f5eb92;

}

.cd3 {
  background:
    #A3FFE2
}

.cd4 {
  background:
    #FFBC7A
}

.cd5 {
  background:
    #E3FF8E
}

.cd6 {
  background:
    #FFA0C6
}

.cd7 {
  background:
    #F3A6FF
}

.cd8 {
  background:
    #97FFAF
}

.cd9 {
  background:
    #6CFFFA
}

.cd10 {
  background:
    #77BAFF
}

.cd11 {
  background:
    #FFEFD4
}

.cd12 {
  background:
    #7AFFDB
}


.section8 {
  width: 100%;
  height: auto;
  background-image: url("../images/sec8bg.png");
  background-size: cover;
  /* Adjust fit as needed */
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: start;

}


.spn {
  color: #e60072;
  font-size: 16px;
  margin: 0 0 15px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

}

h2 {
  font-size: 40px !important;
  line-height: 52px;
  font-family: Poppins, sans-serif;
  color: #050748;
  font-weight: 600 !important;
  margin-bottom: 30px;


}

.section8 p {
  font-size: 17px;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
  color: #6a6a8e;
  font-weight: 400;
  font-style: normal;
}

.section8 img {
  border-radius: 100%;
  width: 80px;
}



.section9 {
  width: 100%;
  height: auto;
  background-image: url("../images/sec9bg.png");
  background-size: cover;
  /* Adjust fit as needed */
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: start;

}

.section9 .row {
  background: rgba(255, 255, 255, .52);
  padding: 30px;
  border-radius: 8px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
}

.section9 .container .form-block {
  margin-top: 50px;
  padding: auto;
}



.section9 .container .form-block .row {
  padding: 0 15px;

  margin-bottom: 10px;
}

.form-control {
  margin: 0 0 15px;
  border: 0;
  width: 100%;
  color: #172b43;
  font-size: 16px;
  background: #fff;
  outline: 0;
  accent-color: #ff1f8e;

}

.form-block input {
  height: 50px;
  padding: 0 15px;
  border-bottom: 2px solid #e6e6e6 !important;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fff;

}

.section9 .form-check-input:checked {
  background-color: #fd0dd0;
  border-color: #0d6efd;
}

.form-check {
  margin-left: 20px;
}


.section9 a {

  width: 100% !important;
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  padding: 0 32px;
  line-height: 56px;
  outline: 0;
  border: none;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  position: relative;
  background: linear-gradient(90deg, #FFB585 0%, #FF6A89 35%, #FF3B8C 100%);

  box-shadow: 0 10px 15px 0 rgba(56, 0, 189, .2);
  /* Transition for background color */
  transition: background-color 0.5s ease-in-out;
  overflow: hidden;
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);
  text-decoration: none;
  color: white;
  z-index: 1;
}

.section9 a::after {
  content: '';
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.281);
  display: block;
  position: absolute;
  border-radius: 50%;
  top: -10%;
  right: -130px;
  z-index: 10;
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);


}


.section9 a:hover::after {
  right: -80px;


}

.btn{
  width: 100%;
}

.form-footer{
  text-align: center;
}

.section10 {
  width: 100%;
  height: auto;
  background-image: url("../images/sec9bg.png");
  background-size: cover;
  /* Adjust fit as needed */
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;

  text-align: center;

}.section10 .row{
text-align: start;
margin-top: 70px;

}


.section10 .row h4{
  text-align: start;
  font-size: 22px;
  line-height: 32px;
  font-family: Poppins, sans-serif;
  color: #050748;
  font-weight: 600;
  padding-top: 20px;
  }
  .section10 .row p{
    font-size: 17px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    color: #6a6a8e;
    font-weight: 400;
    font-style: normal;
    }

    .btn-outline {
      border: 2px solid #000248;
      color: #050748;
      padding: 12px 32px;
      font-family: Poppins,sans-serif;
      font-size: 16px;
      text-decoration: none;
      background: #fff;
      -webkit-box-shadow: 0 10px 15px 0 rgba(3,35,68,.1);
      box-shadow: 0 10px 15px 0 rgba(3,35,68,.1);
      line-height: 52px;
      -webkit-border-radius: 100px;
      border-radius: 100px;
  }